.dark-theme {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.fadeInUp {
  animation: fadeInUp 0.5s both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.game-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

@media (max-width: 768px) {
  .game-item {
    width: 90%;
    margin: 10px auto;
  }
}